<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <style>
      @import "bootstrap";

      $color: #2e3f7f;
      .btn-primary:{
        background-color: #2e3f7f;
        color: white;
      }

      .container{
        height: 125%
      }
    </style>


</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img src="{% static 'images/LogoCircle.png' %}" height="50px" width="50px">
        <a class="navbar-brand" href="{% url 'core:recipes' %}" style="color:#2e3f7f">RecipeCostBase</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'core:recipes' %}">Рецепты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'core:components' %}">Ингредиенты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'core:tools' %}">Инструменты</a>
            </li>
          </ul>

          {% if search_form %}
          <form class="d-flex" method="GET">
            {{ search_form }}
            <button class="btn btn-primary" type="submit" style="background-color: #2e3f7f; color: white;">
              поиск
            </button>
          </form>
          {% endif %}

        </div>
      </div>
  </nav>
  <br>
  <div>
    {% block content %}

    {% endblock %}
  </div>
  <br>
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Следите за обновлениями в соц. сетях:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-5 mx-auto mb-1">
            <!-- Content -->

            <h6 class="text-uppercase fw-bold mb-4" style="color: #2e3f7f">
              <img src="{% static 'images/LogoCircle.png' %}" height="50px" width="50px">
              RecipeCostBase
            </h6>
            <p>
              База себестоимости рецептов. Создавайте и делитесь рецептами,
              рассчитывайте себестоимость ваших изделий, учитывая необходимые компоненты, а также амортизацию инструментов!
            </p>
          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-5 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: #2e3f7f">Контакты</h6>
            <p><a href="mailto:ksigames4@gmail.com">ksigames4@gmail.com</a></p>
            <p><a href="http://recipecost.tilda.ws/">Сайт</a></p>
            <p><a href="http://t.me/primecost_bot">Telegram бот</a></p>
            <p><a href="http://t.me/primecostbot_reviews">Telegram канал</a></p>
            <p><a href="http://instagram.com/recipecostbot">Instagram</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #2e3f7f; color: white;">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="http://recipecost.tilda.ws/">RecipeCostBot</a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>